<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzx.demo.mapper.LoanBaseInfoMapper" >
    <resultMap id="BaseResultMap" type="com.wzx.demo.LoanBaseInfo">
        <result column="loanno" property="loanNo" jdbcType="VARCHAR" />
        <result column="customercode" property="customerCode" jdbcType="VARCHAR" />
        <result column="customername" property="customerName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        loanno,customer_code,customer_name,amount
    </sql>


</mapper>

